<div class="mainContent">
    <div class="image-half">
        <img class="responsive-img" src="{{image}}">
    </div>
    <div class="info-half">
        <h5 class="row">{{header1}}</h5>
        <h4 class="row">€{{price}}</h4>
        <div class="table-div">
            <table class="striped">
                <tbody>
                <tr><td>Brand</td><td>{{brand}}</td></tr>
                <tr><td>model</td><td>{{model}}</td></tr>
                <tr><td>Engine</td><td>{{engine}} {{fuel}}</td></tr>
                <tr><td>Car Type</td><td>{{carType}}</td></tr>
                <tr><td>Transmission</td><td>{{transmission}}</td></tr>
                <tr><td>color</td><td>{{color}}</td></tr>
                <tr><td>year</td><td>{{year}}</td></tr>
                <tr><td>mileage</td><td>{{mileage}}</td></tr>
                <tr><td>kilometers</td><td>{{kilometers}}</td></tr>
                <tr><td>Previous Owners</td><td>{{owners}}</td></tr>
                <tr><td>Doors</td><td>{{doors}}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
